src/HUD_HMIS.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema 
	targetNamespace="http://www.hudhdx.info/Resources/Vendors/4_0/HUD_HMIS.xsd"
	xmlns="http://www.hudhdx.info/Resources/Vendors/4_0/HUD_HMIS.xsd"	
	xmlns:hmis="http://www.hudhdx.info/Resources/Vendors/4_0/HUD_HMIS.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="qualified"
	version="4.0">
		
	<xs:element name="Sources" type="hmis:sources">
		<xs:annotation>
			<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.1.</xs:documentation>
		</xs:annotation>
	</xs:element>
		
	<xs:complexType name="client">
		<xs:sequence>
			<xs:element name="PersonalID" type="hmis:string32">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.13.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.13.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="hmis:string50">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.1, #1.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="hmis:string50">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.1, #2.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastName" type="hmis:string50">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.1, #3.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameSuffix" type="hmis:string50">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.1, #4.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameDataQuality" type="hmis:nameDataQuality">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.1, #5.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSN" type="hmis:ssn">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.2, #1.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.2.</xs:documentation>
					<xs:documentation xml:lang="en">Unknown SSN digits should be indicated with a lower case "x".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSNDataQuality" type="hmis:ssnDataQuality">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.2, #2.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.2.</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="DOB" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.3, #1.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.3.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DOBDataQuality" type="hmis:dobDataQuality">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.3, #2.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.3.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="baseMetaData"/>
	</xs:complexType>
	
	<xs:complexType name="dateRangeCapped">
		<xs:annotation>
			<xs:documentation xml:lang="en">A date range, both start and end dates are required.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartDate" type="xs:dateTime"/>
			<xs:element name="EndDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="enrollment">
		<xs:sequence>
			<xs:element name="ProjectEntryID" type="hmis:string32">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.B.3.e..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EntryDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.10.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.10.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseholdID" type="hmis:string32">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.14.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.14.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelationshipToHoH" type="hmis:relationshipToHoH">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.15.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.15.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResidencePrior" type="hmis:residencePrior">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.9.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.9.</xs:documentation>					
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherResidencePrior" type="hmis:string50">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.9.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.9.</xs:documentation>					
				</xs:annotation>
			</xs:element>
			<xs:element name="ResidencePriorLengthOfStay" type="hmis:residencePriorLengthOfStay">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.9.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.9.</xs:documentation>					
				</xs:annotation>
			</xs:element>
			<xs:element name="DisablingCondition" type="hmis:fiveValDKRefused">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.8.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.8.</xs:documentation>					
				</xs:annotation>
			</xs:element>
			<xs:element name="HousingStatus" type="hmis:housingStatus">
				<xs:annotation>					
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 4.1.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 4.1.</xs:documentation>
				</xs:annotation>				
			</xs:element>
			<xs:element name="ContinuouslyHomelessOneYear" type="hmis:fiveValDKRefused">
				<xs:annotation>					
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.17.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.17.</xs:documentation>
				</xs:annotation>				
			</xs:element>
			<xs:element name="TimesHomelessPastThreeYears" type="hmis:timesHomelessPastThreeYears">
				<xs:annotation>					
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.17, #2.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.17, #2.</xs:documentation>
				</xs:annotation>				
			</xs:element>
			<xs:element name="MonthsHomelessPastThreeYears" type="hmis:monthsHomelessPastThreeYears">
				<xs:annotation>					
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.17, #3.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.17, #3.</xs:documentation>
				</xs:annotation>				
			</xs:element>
			<xs:element name="YearsHomeless" type="xs:positiveInteger">
				<xs:annotation>					
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.17, #3.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.17, #3.</xs:documentation>
				</xs:annotation>				
			</xs:element>
			<xs:element name="StatusDocumented" type="hmis:yesNo">
				<xs:annotation>					
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 3.17, #4.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section 3.17, #4.</xs:documentation>
				</xs:annotation>				
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="baseMetaData"/>
	</xs:complexType>
		
	<xs:complexType name="export">
		<xs:sequence>
			<xs:element name="ExportID" type="hmis:string32">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, Section IV: A.2.</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="ExportDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, Section IV: A.2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportPeriod" type="hmis:dateRangeCapped" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, Section IV: A.2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportPeriodType" type="hmis:exportPeriodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, Section IV: A.2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportDirective" type="hmis:exportDirective" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, Section IV: A.2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Enrollment" type="hmis:enrollment" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">***Put a complete description of Enrollment here.  An enrollment is an client entry into a Project.  Source: May 2014 "HMIS Data Standards Manual", Section XX. https://www.onecpd.info/resources/documents/HMIS-Data-Standards-Manual.pdf</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="Client" type="hmis:client" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">***Put a complete description of Client here.  See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section xxx.</xs:documentation>
					<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, Section xxx.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="source">
		<xs:sequence>                   
			<xs:element name="SourceID" type="hmis:string32">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoftwareVendor" type="hmis:string50">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoftwareVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceContactEmail" type="hmis:email" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.2..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceContactExtension" type="hmis:extension" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.2..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceContactFirst" type="hmis:string50" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.2..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceContactLast" type="hmis:string50" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.2..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceContactPhone" type="hmis:phoneNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.2..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceName" type="hmis:string50">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.2..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Export" type="hmis:export" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.3..</xs:documentation>
				</xs:annotation>                   
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="sources">
		<xs:sequence>
			<xs:element name="Source" type="hmis:source" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, IV.A.2..</xs:documentation>	
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="version" type="hmis:version">
			<xs:annotation>
				<xs:documentation xml:lang="en">The version number of HMIS XML Schema the XML instance document conforms to (e.g. 4.0).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:attributeGroup name="baseMetaData">
		<xs:annotation>
			<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
			<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 5.</xs:documentation>
			<xs:documentation xml:lang="en">See May 2014 HMIS Data Manual, "Metadata".</xs:documentation>
		</xs:annotation>
		<xs:attribute name="dateCreated" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
				<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 5.1.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dateUpdated" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
				<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 5.2.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
				<xs:attribute name="userID" type="hmis:string32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">See HMIS XML Version 4.0 Cumulative Package Overview, xxx.</xs:documentation>
				<xs:documentation xml:lang="en">See May 2014 HMIS Data Dictionary, Section 5.7.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	
	<xs:simpleType name="dobDataQuality">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Name Data Quality 
				1 = Full DOB reported 
				2 = Approximate or partial DOB reported 
				8 = Client doesn’t know 
				9 = Client refused 
				99 = Data not collected 			
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Full DOB reported</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">Approximate or partial DOB reported</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn’t know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client refused</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data not collected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="email">
		<xs:restriction base="xs:string">
		<xs:pattern value="(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9]+@((\w+\-+)|(\w+\.))*\w{1,63}\.[a-zA-Z]{2,6}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="exportPeriodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="updated">
				<xs:annotation>
					<xs:documentation xml:lang="en">The export period bounds all dateCollected attribute values (e.g. when the data was actually entered/changed by a case worker)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="effective">
				<xs:annotation>
					<xs:documentation xml:lang="en">The export period bounds all dateEffective attribute values (e.g. the date the data is applicable, regardless of when the data was actually entered/changed)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="reportingPeriod">
				<xs:annotation>
					<xs:documentation xml:lang="en">The export period bounds a reporting period.  Relevant data outside that period may be included such as entries before the export period start date, and exits outside the export period start date.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="other">
				<xs:annotation>
					<xs:documentation xml:lang="en">The export period bounds the data in some other manner previously agreed upon by the sender and recipient.</xs:documentation>
				</xs:annotation>       
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="exportDirective">
		<xs:restriction base="xs:string">
			<xs:enumeration value="deltaRefresh">
				<xs:annotation>
					<xs:documentation xml:lang="en">The data contained in this file is meant to be synchronized with an existing data set.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fullRefresh">
				<xs:annotation>
					<xs:documentation xml:lang="en">The data contained in this file is meant to replace an existing data set for the export period.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="extension">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="fiveValDKRefused">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Applicable to:
				No Yes
    				0 = No
    				1 = Yes
    				8 = Client doesn't know
    				9 = Client refused
    				99 = Data not collected
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">No</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Yes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn't know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>				
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client refused</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data not collected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="housingStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Homeless and At-Risk of Homelessness Status
				1 = Category 1 - Homeless
				2 = Category 2 - At imminent risk of losing housing
				3 = At-risk of homelessness
				4 = Stably Housed 
				5 = Category 3 - Homeless only under other federal statutes 
				6 = Category 4 - Fleeing domestic violence
				8 = Client doesn’t know 
				9 = Client refused
				99 = Data not collected
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Category 1 - Homeless</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">Category 2 - At imminent risk of losing housing</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">At-risk of homelessness</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="en">Stably Housed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Category 3 - Homeless only under other federal statutes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="en">Category 4 - Fleeing domestic violence</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn’t know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client refused</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data not collected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="incomeSourceCodeBase">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Income Source Code
				1 = Earned Income (i.e., employment income)
				2 = Unemployment Insurance 
				3 = Supplemental Security Income (SSI)
				4 = Social Security Disability Income (SSDI)
				5 = Veteran's Disability Payment
				6 = Private Disability Insurance
				7 = Worker's Compensation
				10 = Temporary Assistance for Needy Families (TANF) (or use local program name)
				11 = General Assistance (GA) (or use local program name)
				12 = Retirement Income from Social Security
				13 = Veteran’s Pension
				14 = Pension from a Former Job
				15 = Child Support
				16 = Alimony or Other Spousal Support
				17 = Other Source
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Earned Income (i.e., employment income)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unemployment Insurance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Supplemental Security Income (SSI)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="en">Social Security Disability Income (SSDI)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Veteran's Disability Payment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="en">Private Disability Insurance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation xml:lang="en">Worker's Compensation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation xml:lang="en">Temporary Assistance for Needy Families (TANF) (or use local program name)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation xml:lang="en">General Assistance (GA) (or use local program name)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation xml:lang="en">Retirement Income from Social Security</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation xml:lang="en">Veteran’s Pension</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pension from a Former Job</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation xml:lang="en">Child Support</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation xml:lang="en">Alimony or Other Spousal Support</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation xml:lang="en">Other Source</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="monthsHomelessPastThreeYears">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Total Number of Months Homeless in the Past Three Years 
					1.00 – 1.12 = integer from 0 to 12 
					7 = More than 12 months 
					8 = Client doesn’t know 
					9 = Client refused 
					99 = Data not collected 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="1.00">
				<xs:annotation>
					<xs:documentation xml:lang="en">0 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.01">
				<xs:annotation>
					<xs:documentation xml:lang="en">1 month</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.02">
				<xs:annotation>
					<xs:documentation xml:lang="en">2 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.03">
				<xs:annotation>
					<xs:documentation xml:lang="en">3 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.04">
				<xs:annotation>
					<xs:documentation xml:lang="en">4 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
						<xs:enumeration value="1.05">
				<xs:annotation>
					<xs:documentation xml:lang="en">5 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.06">
				<xs:annotation>
					<xs:documentation xml:lang="en">6 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.07">
				<xs:annotation>
					<xs:documentation xml:lang="en">7 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.08">
				<xs:annotation>
					<xs:documentation xml:lang="en">8 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.09">
				<xs:annotation>
					<xs:documentation xml:lang="en">9 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.10">
				<xs:annotation>
					<xs:documentation xml:lang="en">10 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.11">
				<xs:annotation>
					<xs:documentation xml:lang="en">11 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.12">
				<xs:annotation>
					<xs:documentation xml:lang="en">12 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation xml:lang="en">More than 12 months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn’t know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn’t know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn’t know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="nameDataQuality">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Name Data Quality 
					1 = Full name reported 
					2 = Partial, street name, or code name reported 
					8 = Client doesn’t know 
					9 = Client refused 
					99 = Data not collected 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Full name reported</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">Partial, street name, or code name reported</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn’t know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client refused</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data not collected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="phoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="relationshipToHoH">
			<xs:annotation>
				<xs:documentation xml:lang="en">
					RelationshipToHeadOfHousehold
					1 = Self (head of household) 
 					2 = Head of household’s child 
					3 = Head of household’s spouse or partner
					4 = Head of household’s other relation member (other relation to head of household) 
 					5 = Other: non-relation member 
				</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedInt">
				<xs:enumeration value="1">
					<xs:annotation>
						<xs:documentation xml:lang="en">Self (head of household) </xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="2">
					<xs:annotation>
						<xs:documentation xml:lang="en">Head of household’s child</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="3">
					<xs:annotation>
						<xs:documentation xml:lang="en">Head of household’s spouse or partner</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="4">
					<xs:annotation>
						<xs:documentation xml:lang="en">Head of household’s other relation member (other relation to head of household)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="5">
					<xs:annotation>
						<xs:documentation xml:lang="en">Other: non-relation member</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="residencePrior">
		<xs:annotation>
			<xs:documentation xml:lang="en">	
				Residence Type
				1 = Emergency shelter, including hotel or motel paid for with emergency shelter voucher
				2 = Transitional housing for homeless persons (including homeless youth)
				3 = Permanent housing for formerly homeless persons (such as: CoC project; HUD legacy programs; or HOPWA PH) 
				4 = Psychiatric hospital or other psychiatric facility
				5 = Substance abuse treatment facility or detox center
				6 = Hospital or other residential non-psychiatric medical facility
				7 = Jail, prison or juvenile detention facility
				8 = Client doesn’t know
				9 = Client refused
				12 = Staying or living in a family member’s room, apartment or house          
				13 = Staying or living in a friend’s room, apartment or house
				14 = Hotel or motel paid for without emergency shelter voucher 
				15 = Foster care home or foster care group home				
				16 = Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)
				17 = Other
				18 = Safe Haven
				19 = Rental by client, with VASH subsidy
				20 = Rental by client, with other ongoing housing subsidy
				21 = Owned by client, with ongoing housing subsidy 
				22 = Rental by client, no ongoing housing subsidy
				23 = Owned by client, no ongoing housing subsidy 
				24 = Long-term care facility or nursing home
				25 = Rental by client, with GPD TIP subsidy
				26 = Residential project or halfway house with no homeless criteria
				99 = Data not collected
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Emergency shelter, including hotel or motel paid for with emergency shelter voucher</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">Transitional housing for homeless persons (including homeless youth)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Permanent housing for formerly homeless persons (such as: CoC project; HUD legacy programs; or HOPWA PH)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="en">Psychiatric hospital or other psychiatric facility</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Substance abuse treatment facility or detox center</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hospital or other residential non-psychiatric medical facility</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation xml:lang="en">Jail, prison or juvenile detention facility</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn’t know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client refused</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation xml:lang="en">Staying or living in a family member’s room, apartment or house</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation xml:lang="en">Staying or living in a friend’s room, apartment or house</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hotel or motel paid for without emergency shelter voucher</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation xml:lang="en">Foster care home or foster care group home</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation xml:lang="en">Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation xml:lang="en">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="18">
				<xs:annotation>
					<xs:documentation xml:lang="en">Safe Haven</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="19">
				<xs:annotation>
					<xs:documentation xml:lang="en">Rental by client, with VASH subsidy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation xml:lang="en">Rental by client, with other ongoing housing subsidy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="21">
				<xs:annotation>
					<xs:documentation xml:lang="en">Owned by client, with ongoing housing subsidy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="22">
				<xs:annotation>
					<xs:documentation xml:lang="en">Rental by client, no ongoing housing subsidy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="23">
				<xs:annotation>
					<xs:documentation xml:lang="en">Owned by client, no ongoing housing subsidy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation xml:lang="en">Long-term care facility or nursing home</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="25">
				<xs:annotation>
					<xs:documentation xml:lang="en">Rental by client, with GPD TIP subsidy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="26">
				<xs:annotation>
					<xs:documentation xml:lang="en">Residential project or halfway house with no homeless criteria</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data not collected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="residencePriorLengthOfStay">
		<xs:annotation>
			<xs:documentation xml:lang="en">	
				Length of Stay in Previous Place
					2 = More than one week, but less than one month 
					3 = One to three months 
					4 = More than three months, but less than one year 
					5 = One year or longer 
					8 = Client doesn’t know 
					9 = Client refused
					10 = One day or less
					11 = Two days to one week 
					99 = Data not collected 
    		</xs:documentation>
    	</xs:annotation>
    	<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">More than one week, but less than one month</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">One to three months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="en">More than three months, but less than one year </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">One year or longer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn’t know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client refused</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation xml:lang="en">One day or less</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation xml:lang="en">Two days to one week</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data not collected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ssn">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9x]{9}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ssnDataQuality">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			  SSN Data Quality 
				1 = Full SSN reported 
				2 = Approximate or partial SSN reported 
				8 = Client doesn’t know 
				9 = Client refused 
				99 = Data not collected
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Full SSN reported</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">Approximate or partial SSN reported</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn’t know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client refused</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data not collected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stateBase">
		<xs:restriction base="xs:string">
			<!-- US States -->
			<xs:enumeration value="AK"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="AZ"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="FL"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="HI"/>
			<xs:enumeration value="IA"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IN"/>
			<xs:enumeration value="KS"/>
			<xs:enumeration value="KY"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="ME"/>
			<xs:enumeration value="MI"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="MO"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="NC"/>
			<xs:enumeration value="ND"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="NH"/>
			<xs:enumeration value="NJ"/>
			<xs:enumeration value="NM"/>
			<xs:enumeration value="NV"/>
			<xs:enumeration value="NY"/>
			<xs:enumeration value="OH"/>
			<xs:enumeration value="OK"/>
			<xs:enumeration value="OR"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="RI"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="TN"/>
			<xs:enumeration value="TX"/>
			<xs:enumeration value="UT"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="VT"/>
			<xs:enumeration value="WA"/>
			<xs:enumeration value="WI"/>
			<xs:enumeration value="WV"/>
			<xs:enumeration value="WY"/>
			<!-- District of Columbia -->
			<xs:enumeration value="DC"/>
			<!-- US Territories -->
			<xs:enumeration value="AS"/>
			<xs:enumeration value="FM"/>
			<xs:enumeration value="GU"/>
			<xs:enumeration value="MH"/>
			<xs:enumeration value="MP"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="PW"/>
			<xs:enumeration value="VI"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="string32">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="string50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="timesHomelessPastThreeYears">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Number of Times the Client has been Homeless in the Past Three Years 
					0 = 0 
					1 = 1 
					2 = 2 
					3 = 3 
					4 = 4 or more 
					8 = Client doesn’t know 
					9 = Client refused
					99 = Data not collected
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">1</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">2</xs:documentation>
				</xs:annotation>
			</xs:enumeration>				
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">3</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="en">4 or more</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client doesn’t know</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client refused</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Data not collected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="version">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="3"/>
			<xs:minInclusive value="0.001"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="yesNo">
		<xs:restriction base="xs:boolean">
			<xs:pattern value="[01]"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>